body{
  font-family: "Bad Script", cursive;
  font-weight: 400;
  margin: 0%;
  padding: 0%;
}
::selection{
  color: #FFDFD3;
}

/* CABEÇALHO */

#cabecalho{
  height: 100%;
  width: 100%;
  background-image: url("image/bla.jpg");
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 24.2%;
}
#texto-principal{
  padding-left: 36%;
  font-size: 330%;
  font-weight: bold;
  color: white;

}
